* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: auto;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    display: block;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    font-weight:bolder;
    font-size: large;
    display: grid;
    align-items: center;
    padding-left: 40px;
}

.hidden-li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 40px;
}

.top-section{
    display: flex;
    background-color: #1f2937;
    padding: 32px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.card-1 {
    color:aliceblue;
}

#big-text {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

#sub-text{
    color: #f9faf8d0;
    font-size: 18px;
}

#sign-up {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 8px;
    border: none;
    padding: 15px 32px;
    margin-top: 12px;
}

#cat1{
    width: 300px;
    height: auto;
    border: 2px solid white;
}

.mid-section{
    display: block;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding: 24px;
}

.img-container{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    width: 1000px;
    justify-self: center;
}

#box-1 {
    border: 2px solid #3882f6;
    height: auto;
    width: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-1 img{
    width: 95%;
    height: auto;
}

#box-1 .caption{
    text-align: center;
    color:#1f2937f5;
    padding: 10px;
}